@model WebShopShoes.Models.Color
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Share/_Layout.cshtml";
}

<link href="/styles/kendo.common.min.css" rel="stylesheet" />
@*<link href="/styles/kendo.rtl.min.css" rel="stylesheet" />*@
<link href="/styles/kendo.default.min.css" rel="stylesheet" />
<link href="/styles/kendo.default.mobile.min.css" rel="stylesheet" />
@*<link href="/js/jquery.min.js" rel="stylesheet" />*@
<h2>Thêm màu mới</h2><a asp-action="Index">Quay lại danh sách</a>
<hr />
<div class="content">
    <div class="panel-body">
        <form asp-controller="Color" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="col-md-2 control-label" asp-for="NameColor">Tên màu:</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" asp-for="NameColor" />
                    <input type="color" />
                </div>
            </div>
            <div class="form-group">
                <input id="datepicker" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Thêm mới</button>
            </div>
        </form>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#datepicker").kendoDatePicker();
    })
</script>



